@import url("./fonts.css");

@keyframes linkFadeIn {
    from {color: #d6e0f0;}
    to {color: #caa37a;}
}

@keyframes reverseLinkFadeIn {
    from {color: #caa37a;}
    to {color: #d6e0f0;}
}

@keyframes fadein {
    from {opacity: 0; }
    to   {opacity: 1; }
}

@keyframes textFadeIn {
    from {color: #393b44;}
    to   {color: #caa37a;}
}

html
{
    font-size: 10px;
    overflow-y: scroll;
}

body
{
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #393b44;
    background: #f1f3f8;

    -webkit-font-smoothing: antialiased;
}

.page-header {
    width: 100%;
    height: 72px;
    position: fixed;
    background-color: #393b44;
    top: 0;
    left: 0;
    z-index: 500;
}

.header-logo {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

.header-text {
    display: block;
    margin: 0;
    margin-left: 2rem;
    line-height: 72px;
    color: #caa37a;
}


.main-nav {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 0px;
    right: 50px;
}

.main-nav-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
}

.main-nav-links li {
    display: inline-block;
    margin-right: 2rem;
}

.main-nav-links li a {
    display: block;
    line-height: 72px;
    text-decoration: none;
    color: #d6e0f0;
}

.main-nav-links li a:hover {
    display: block;
    line-height: 72px;
    text-decoration: none;
    animation: linkFadeIn 0.5s;
    color: #caa37a;
}

.main-nav-links li.current a {
    font-family: "montserrat-extrabold", sans-serif;
    text-decoration: none;
    color: #caa37a;
}

.main-nav-links li.current a:hover {
    display: block;
    line-height: 72px;
    text-decoration: none;
    animation: reverseLinkFadeIn 0.5s;
    color: #d6e0f0;
}


.content {
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 20%;
    padding-right: 20%;
}

.content-index {
    padding-top: 16rem;
    padding-bottom: 12rem;
    
    
}

.content-edu {
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.p {
    animation: fadeIn 0.5s;
}

.l-title {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 1.0;
    color: #393b44;
}

.i-title {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 0.4;
    color: #393b44;
}

.text-alt {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #393b44;
}


.text-alt-l {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    color: #393b44;
}

.small-text {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1;
    color: #a1815e;
}

.profile-pic {
    display: block;
    border-radius: 50%;
}

.pfp {
    vertical-align: middle;
    width: 350px;
}

.intro-text {
    width: 475px;
}

.edu-table {
    width: 300px;
}

.edu img:hover {
    height: 90px;
    transition: .5s ease;
}

.text-alt a {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2.3rem;
    line-height: 4;
    text-decoration:none;
    color: #393b44;
}

.text-alt a:hover {
    animation: textFadeIn 0.5s;
    color: #caa37a;
}

.event {
    position: relative;
    padding-left: 10rem;
    min-height: 25rem;
}

.cv-marker {
    width: 6.6rem;
    height: 6.6rem;
    box-shadow: 0 0 0 0.9rem #d5d6db;
    border-radius: 100%;
    position: absolute;
    top: .3rem;
    left: .9rem;
    outline: none;
}

.time {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    line-height: 0.4; 
    color: #a1815e;
}

.t {
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #393b44;
}

.role {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    line-height: 0.6;
    color: #393b44;
}