@import url("./fonts.css");

@keyframes linkFadeIn {
    from {color: #d6e0f0;}
    to {color: #40a8c4;}
}

@keyframes reverseLinkFadeIn {
    from {color: #40a8c4;}
    to {color: #d6e0f0;}
}

@keyframes fadein {
    from {opacity: 0; }
    to   {opacity: 1; }
}

html
{
    font-size: 10px;
    overflow-y: scroll;
}

body
{
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #393b44;
    background: #f1f3f8;

    -webkit-font-smoothing: antialiased;
}

.page-header {
    width: 100%;
    height: 72px;
    position: fixed;
    background-color: #393b44;
    top: 0;
    left: 0;
    z-index: 500;
}


.main-nav {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 0px;
    right: 50px;
}

.main-nav-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
}

.main-nav-links li {
    display: inline-block;
    padding-left: 0;
    margin-right: 2rem;
}

.main-nav-links li a {
    display: block;
    line-height: 72px;
    text-decoration: none;
    color: #d6e0f0;
}

.main-nav-links li a:hover {
    display: block;
    line-height: 72px;
    text-decoration: none;
    animation: linkFadeIn 0.5s;
    color: #40a8c4;
}

.main-nav-links li.current a {
    font-family: "montserrat-extrabold", sans-serif;
    text-decoration: none;
    color: #40a8c4;
}

.main-nav-links li.current a:hover {
    display: block;
    line-height: 72px;
    text-decoration: none;
    animation: reverseLinkFadeIn 0.5s;
    color: #d6e0f0;
}


.content {
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 20%;
    padding-right: 20%;
}

.content-index {
    padding-top: 10rem;
    padding-bottom: 12rem;
    padding-left: 10%;
    padding-right: 10%;
}

.p {
    animation: fadeIn 0.5s;
}

.l-title {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 1.227;
    color: #393b44;
}

.text-alt {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #393b44;
}

.text-alt-l {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    line-height: 1.875;
    color: #393b44;
}

.small-text {
    font-family: "librebaskerville-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1.875;
    color: #393b44;
}