@import url("./fonts.css");

@keyframes linkFadeIn {
    from {color: #d6e0f0;}
    to {color: #caa37a;}
}

@keyframes reverseLinkFadeIn {
    from {color: #caa37a;}
    to {color: #d6e0f0;}
}

@keyframes fadein {
    from {opacity: 0; }
    to   {opacity: 1; }
}

@keyframes textFadeIn {
    from {color: #393b44;}
    to   {color: #caa37a;}
}

html
{
    font-size: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body
{
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #393b44;
    background: #f1f3f8;

    -webkit-font-smoothing: antialiased;
}

.page-header {
    width: 100%;
    height: 72px;
    position: fixed;
    background-color: #393b44;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-logo {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

.header-text {
    display: block;
    margin: 0;
    margin-left: 2rem;
    line-height: 72px;
    color: #caa37a;
}


.main-nav {
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 0px;
    right: 50px;
}

.main-nav-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
}

.main-nav-links li {
    display: inline-block;
    margin-right: 2rem;
    color: #d6e0f0;
}

.main-nav-links li a {
    display: block;
    line-height: 72px;
    text-decoration: none;
    color: #d6e0f0;
}

.main-nav-links li a:hover {
    display: block;
    line-height: 72px;
    text-decoration: none;
    animation: linkFadeIn 0.5s;
    color: #caa37a;
}

.main-nav-links li.current a {
    font-family: "montserrat-extrabold", sans-serif;
    text-decoration: none;
    color: #caa37a;
}

.main-nav-links li.current a:hover {
    display: block;
    text-decoration: none;
    animation: reverseLinkFadeIn 0.5s;
    color: #d6e0f0;
}

.header-menu {
    display: none;
    position: absolute;
    right: 50px;
    top: 13px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-extrabold", sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: #caa37a;
    text-transform: uppercase;
    letter-spacing: .2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .main-nav {
        display: none;
        height: auto;
        width: 100%;
        right: auto;
        top: 0;
        left: 0;
        background-color: #393b44;
        padding: 120px 40px 21px;
    }

    .main-nav .main-nav-links {
        display: block;
        height: auto;
        margin: 0 0 4.2rem 0;
    }

    .main-nav .main-nav-links li {
        display: block;
        margin: 0;
        padding: 0;
    }

    .main-nav .main-nav-links li a {
        padding: 18px 0;
        line-height: 18px;
    }

    .header-menu {
        display: block;
    }
}

.dropdown .dropbtn {
    display: block;
    height: 72px;
    font-family: "montserrat-bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    border: none;
    outline: none;
    color: #d6e0f0;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown {
    overflow: hidden;
    display: inline-block;
    text-align: middle;
    margin-right: 2rem;
    color: #d6e0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #caa37a;
    min-width: 160px;
    z-index: 2;
    font-size: 10px;
}

.dropdown-content a {
    color: #393b44;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropbtn {
    color: #caa37a;
    transition: ease 0.5s;
}

.dropdown:hover .dropdown-content {display: block;}

.cv-nav {
    font-family: "montserrat-bold", sans-serif;
    font-size: 10px;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: fixed;
    padding-top: 12.5rem;
    left: 12px;
    animation: fadein ease 0.5s; 
}

.cv-nav-links {
    
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 36px;
}

.cv-nav-links li {
    display: inline-block;
    margin-left: 2rem;
}

.cv-nav-links li a {
    display: block;
    line-height: 36px;
    text-decoration: none;
    color: #393b44;
}

.cv-nav-links li a:hover {
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #caa37a;
    transition: .7s ease;
}


.content {
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 40%;
    padding-right: 10%;

    animation: fadein ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.content-e-active {
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 40%;
    padding-right: 10%;

    animation: fadein ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.content-e {
    display: none;
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 40%;
    padding-right: 10%;

    animation: fadein ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.content-exp {
    padding-top: 8rem;
    padding-left: 25%;
    padding-right: 23%;

    animation: fadein ease 0.5s;
}

.content-proj {
    padding-top: 8rem;
    padding-left: 25%;
    padding-right: 23%;

    animation: fadein ease 0.5s; 
}

.content-info {
    padding-top: 8rem;
    padding-bottom: 12rem;
    padding-left: 25%;
    padding-right: 23%;

    animation: fadein ease 0.5s; 
}

.content-index {
    padding-top: 16rem;
    padding-bottom: 2rem;

    animation: fadein ease 0.5s;
}

.content-index-mob {
    display: none;
}

@media screen and (max-width: 600px) {
    .content-index {
        display: none;
    }
    .content-index-mob {
        display: block;
        padding-top: 10rem;
        padding-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;

        animation: fadein ease 0.5s;
    }
    .content-index-mob .i-title {
        font-size: 4rem;
        line-height: 1.0;
    }
}

.content-edu {
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin-left: auto;
    margin-right: auto;

    animation: fadein ease 0.5s;
}

.p {
    animation: fadeIn 0.5s;
}

.l-title {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 1.0;
    color: #393b44;
}

.i-title {
    font-family: "librebaskerville-bold", serif;
    font-size: 6rem;
    line-height: 0.4;
    color: #393b44;
}

.text-alt {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #393b44;
}


.text-alt-l {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.9rem;
    line-height: 1.2;
    color: #393b44;
}

.small-text {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #393b44;
}

.lang {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 1;
    color: #a1815e;
}

.profile-pic {
    display: block;
    border-radius: 50%;
}

.pfp {
    vertical-align: middle;
    width: 350px;
}

.intro-text {
    width: 475px;
}

.edu-table {
    width: 300px;
}

.edu img:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

.text-alt a {
    font-family: "librebaskerville-bold", sans-serif;
    font-size: 2.1rem;
    line-height: 4;
    text-decoration:none;
    color: #393b44;
}

.text-alt a:hover {
    animation: textFadeIn 0.5s;
    color: #caa37a;
}

.event {
    position: relative;
    padding-left: 10rem;
    padding-bottom: 5rem;
}

.cv-marker {
    width: 6.6rem;
    height: 6.6rem;
    box-shadow: 0 0 0 0.9rem #d5d6db;
    border-radius: 100%;
    position: absolute;
    top: .3rem;
    left: .9rem;
    outline: none;
}

.time {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.3rem;
    line-height: 0.4; 
    color: #a1815e;
}

.t {
    font-family: 'montserrat-regular', serif;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #393b44; 
    text-indent: -1.35em;
}

.role {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #393b44;
}

.contact {
    position: relative;
    display: inline-block;
}

.contact-table {
    width: 100px;
}

.contact img {
    position: absolute;
}

.contact img:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

.contact .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #393b44;
    font-family: "montserrat-regular", sans-serif;
    font-size: 15px;
    color: #d6e0f0;
    text-align: center;
    padding: 3px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 70px;
    margin-left: -25px;
}
  
.contact:hover .tooltiptext {
    visibility: visible;
    animation: fadein ease 0.7s; 
}

.notes {
    padding-top: 4rem;
    text-align: center;

    animation: fadein ease 0.5s; 
}

.sidebar-icl{
    top: 72px;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-image: url("img/icl-big.jpg");
    background-position: 40%;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar-hci{
    top: 72px;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-image: url("img/hci-big.jpg");
    background-position: 31%;
    background-size: cover;
    background-color: #393b44;
    overflow-x: hidden;
    padding-top: 16px;
}

.edu-button {
    display: inline-block;
    width: 86%;
    margin-left: 7%;
    margin-top: 2%;
    background-color: #d6e0f0;
    box-shadow: 0 0 3px #d6e0f0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-family: 'montserrat-bold', sans-serif;
    color: #393b44;
    text-transform: uppercase;
    font-size: 10px;

    border: none;
}

.edu-button:hover {
    color: #a1815e;
}

.edu-button-active {
    display: inline-block;
    width: 86%;
    margin-left: 7%;
    margin-top: 2%;
    background-color: #d6e0f0;
    box-shadow: 0 0 3px #d6e0f0;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-family: 'montserrat-bold', sans-serif;
    color: #a1815e;
    text-transform: uppercase;
    font-size: 10px;

    border: 1px solid #d6e0f0;
}